language: python
python:
- "3.7"

jobs:
  include:
    - name: "Pandas 1.0.x"
      env: PANDAS_VERSION=1.0.*
    - name: "Pandas 1.1.x"
      env: PANDAS_VERSION=1.1.*

install:
#install conda
 - sudo apt-get update
 - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
 - bash miniconda.sh -b -p $HOME/miniconda
 - source "$HOME/miniconda/etc/profile.d/conda.sh"
 - hash -r
 - conda config --set always_yes yes --set changeps1 no
 - conda update -q conda

 - conda info -a

 - CONDA_HOME="${HOME}/miniconda" ./env.sh


script:

 #activate python virtual environment
 - conda activate pd
 #check that doc generation is possible
 - ./generate_docs.sh
 #run unit tests 
 - pytest text_extensions_for_pandas
