name: Run tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
    inputs:
      target:
        description: 'Target branch to run'
        required: true

jobs:
  run_python:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]
        # Test against Pandas 1.1, 1.2, and latest version
        pandas-version: ["1.1.*", "1.2.*", ""]
        exclude:
          # Test all Pandas versions with Python 3.7, exclude others
          - python-version: 3.6
            pandas-version: "1.1.*"
          - python-version: 3.6
            pandas-version: "1.2.*"
          - python-version: 3.8
            pandas-version: "1.1.*"
          - python-version: 3.8
            pandas-version: "1.2.*"

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: 'x64'
      - name: Setup Conda Environment
        env:
          PYTHON_VERSION: ${{ matrix.python-version }}
          PANDAS_VERSION: ${{ matrix.pandas-version }}
        run: |
          echo "Conda base path: ${CONDA}"
          hash -r
          source "${CONDA}/etc/profile.d/conda.sh"
          $CONDA/bin/conda config --set always_yes yes --set changeps1 no
          $CONDA/bin/conda update -q conda
          $CONDA/bin/conda info -a
          CONDA_HOME="${CONDA}" ./env.sh --use_active_env
      - name: Print installed packages
        run: |
          conda list
          pip list
          which python
          which pytest
      - name: Test with pytest
        run: |
          pytest -v text_extensions_for_pandas
